*{
  margin:0;
  padding:0;
}

body{
  background-color: #2f7d74;
  text-align: center;
}

.container{
  height : 70vh;
  display : flex;
 
  justify-content: center;
  align-items : center;
  gap:1.2vmin;
}

.game {
  height: 60vmin;
  width : 60vmin;
  display : flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items : center;
  gap:1.2vmin;
}

.box{
  height : 18vmin;
  width : 18vmin;
  border-radius:1rem;
  border:none;
  box-shadow:0 0 1rem rgba(0,0,0,1);
  font-size: 8vmin;
  color: 	#2e2e2e;      /* Match background for theme consistency */
 background-color: #e6e9a6;
 cursor: pointer;

}

#reset{
  padding:1rem;
  font-size:1.25rem;
  background-color: #191913;
  color:#fff;
  border-radius : 1rem;
  border: none;
  cursor: pointer;
}

#newbtn{

   padding:1rem;
  font-size:1.25rem;
  background-color: #191913;
  color:#fff;
  border-radius : 1rem;
  border: none;
  cursor: pointer;
}

#msg{
  color:#ffffc7;
  font-size: 5vmin;
}

.msg-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #2f7d74;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  z-index: 10;
}


.hide{
  display:none;
}

.x{
  color : #1e3a8a;

}

.o{
  color : #b91c1c
}